{% extends 'layout.html' %}

{% block content %}
<h2 class="header">Add repository</h2>

<form class="col s12" method="post">

    <div class="row">
        <div class="input-field col s12">
          <input id="project" name="project" type="text" class="validate">
          <label for="project">Project Name</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <input id="repository" name="repository" type="text" class="validate">
          <label for="repository">Repository</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <input id="branches" name="branches" type="text" class="validate">
          <label for="branches">Comma-separated branches to build (accepts wildcard character: *)</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <input id="hosts" name="hosts" type="text" class="validate">
          <label for="branches">Comma-separated host definitions for all builds (custom.server1=231.23.14.123,custom.server2=...)</label>
        </div>
    </div>

    <div class="row">
        <input type="submit" class="btn" value="Submit" />
    </div>

</form>

{% endblock %}