<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Sailfish CI Server</title>

        <link rel="stylesheet" type="text/css" href="/static/bower_components/foundation/css/foundation.css">

        <script src="/static/bower_components/modernizr/modernizr.js"></script>
        <script type="text/javascript">
            SAILFISH_SERVER = "{{sailfishHost}}";
        </script>

    </head>
    <body>

        <!-- Navbar -->
        <div class="contain-to-grid sticky">
            <nav class="top-bar" data-topbar role="navigation">

                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#">Sailfish CI Server</a></h1>
                    </li>
                </ul>

                <section class="top-bar-section">
                    <ul class="right">
                        <li {% if view == 'dashboard' %}class="active"{% endif %}><a href="/">Dashboard</a></li>
                        <li {% if view == 'settings' %}class="active"{% endif %}><a href="/settings">Settings</a></li>
                    </ul>
                </section>
            </nav>
        </div>


        <!-- Page Layout -->
        <div class="row" style="padding-top:20px;">

            <div class="large-3 columns">

                <ul class="stack button-group" id="runnerContainer">
                    <!--<li><a href="#" class="button disabled">{{runner.name}}</a></li>-->
                </ul>

                {% if hasProjects %}
                    {% include '_projectsInformation.html' with {"projectsInformation":projectsInformation} %}
                {% endif %}

                {% if hasBuilds %}
                    {% include '_buildsInformation.html' with {"buildInformation":buildInformation} %}
                {% endif %}

            </div>

            <div class="sailfish-main large-9 columns">
                {% block content %}{% endblock %}
            </div>

        </div>

        <!-- JS -->
        <script src="/static/bower_components/lodash/lodash.min.js"></script>
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/foundation/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        <!-- SOCKET IO -->
        <script src="{{sailfishHost}}/socket.io/socket.io.js"></script>
        <script src="/static/js/socket.client.js"></script>
    </body>
</html>