<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Sailfish CI Server</title>

        <link rel="stylesheet" type="text/css" href="/static/bower_components/materialize/dist/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/sailfish.css">
        <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <!-- Navbar -->
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo" style="padding-left:10px;">Sailfish CI Server</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li {% if view == 'dashboard' %}class="active"{% endif %}><a href="/">Dashboard</a></li>
                    <li {% if view == 'settings' %}class="active"{% endif %}><a href="/settings">Settings</a></li>
                </ul>
            </div>
        </nav>

        <!-- Page Layout -->
        <div class="row" style="min-height:900px;margin-top:20px;">

            <div class="sailfish-sidebar col s3">

                {% if hasRunners %}
                    {% include '_runnerInformation.html' with {"runnersInformation":runnersInformation} %}
                {% else %}
                <div class="row">
                  <div class="col s12 m12">
                    <div class="card-panel deep-orange">
                      <span class="white-text">
                          <span>No Sailfish Runner have been added to Sailfish database.</span>
                          <div class="row" style="margin-top:10px;">
                            <a href="/add-runner" class="s12 waves-effect waves-light btn">Add runner</a>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% if hasProjects %}
                    {% include '_projectsInformation.html' with {"projectsInformation":projectsInformation} %}
                {% else %}
                <div class="row">
                  <div class="col s12 m12">
                    <div class="card-panel deep-purple">
                      <span class="white-text">
                          <span>No repository have been added to Sailfish database. Cannot display any
                          build information.</span>
                          <div class="row" style="margin-top:10px;">
                            <a href="/add-repository" class="s12 waves-effect waves-light btn">Add repository</a>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% if hasBuilds %}
                    {% include '_buildsInformation.html' with {"buildInformation":buildInformation} %}
                {% endif %}



            </div>

            <div class="sailfish-main col s9">
                {% block content %}{% endblock %}
            </div>

        </div>

        <!-- JS -->
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/underscore/underscore-min.js"></script>
        <script src="/static/bower_components/materialize/dist/js/materialize.min.js"></script>
    </body>
</html>